{% extends "layout.html" %}
{% block content %}
	<h1>Admin Check Page</h1>

	{% for part in parts %}
		<div class ="container">
			<div class = "media-body">
				<embed src = "{{ url_for('static', filename = part.geturl()) }}" width = "1000" height="375" type = "application/pdf">
			</div>
			<h2>partion id: {{ part.id }}
			<h2>editor 1 id: {{ part.editor1 }}</h2>
			<h2> {{post1}} </h2>
			<h2>editor 2 id: {{ part.editor2 }}</h2>
			<h2> {{post2}} </h2>
		</div>
	{% endfor %}
{% endblock content %}